.entry-content {
    > p > a {
        @include adjust-font-size-to(0.8em);
    }

    table.hc_crse_events_table {
        width: 100%;

        td, td p {
            @include font-size(18px);
            margin: 0;
            margin-right: $horz-spacing-unit;
            padding-bottom: $vert-spacing-unit;
            vertical-align: baseline;
        }
    }
}
