* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    @include background-image(linear-gradient(to top, #A7A7A7 0%, #E4E4E4 51%));
    // background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    // background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    // background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    // background-image:-webkit-gradient(
    //     linear,
    //     left top,
    //     left bottom,
    //     color-stop(0, #A7A7A7),
    //     color-stop(0.51, #E4E4E4)
    // );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;

    /* Portrait layout (default) */
    .app {
        background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
        position:absolute;             /* position in the center of the screen */
        left:50%;
        top:50%;
        height:50px;                   /* text area height */
        width:225px;                   /* text area width */
        text-align:center;
        padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
        margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                       /* offset horizontal: half of text area width */

        @include breakpoint($landscape) {
            background-position:left center;
            padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
            margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                          /* offset horizontal: half of image width and text area width */
        }
    }

    .event {
        border-radius:4px;
        -webkit-border-radius:4px;
        color:#FFFFFF;
        font-size:12px;
        margin:0px 30px;
        padding:2px 0px;

        &.listening {
            background-color:#333333;
            display:block;
        }

        &.received {
            background-color:#4B946A;
            display:none;
        }
    }

    .blink {
        @include animation(fade 3000ms infinite);
    }
}
