/**
 * $FONT-FACE
 */
@include font-face('Gill Sans', '../fonts/GillSansMT');
@include font-face('Gill Sans Light', '../fonts/GillSansMT-Light');
@include font-face('Gill Sans Bold', '../fonts/GillSansMT-Bold');
@include font-face('Rockwell', '../fonts/Rockwell');
@include font-face('Rockwell Bold', '../fonts/Rockwell-Bold');
@include font-face('Garamond', '../fonts/GaramondPremrPro');
@include font-face('Perpetua Titling', '../fonts/PerpetuaTitlingMT-Light');
@include establish-baseline($base-font-size);

/**
 * $BASE-TYPOGRAPHY
 */
html {
  font-family: $garamond;
  color: $base;
}

/**
 * $LINKS
 */
a {
  @include link-colors($accent, darken($accent, 15%), darken($accent, 15%), $accent, $accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/**
 * $HEADINGS
 */
h1, .alpha,
h2, .beta,
h3, .gamma,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  @include rhythm(0, 0, 0, 0.2);
  font-family: $rockwell;
  color: $base;

  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    color: $accent;
    text-decoration: underline;
  }
}

h1, .alpha {
  @include adjust-font-size-to(30px);
  line-height: 2em;
  font-weight: 300;
}
h2, .beta {
  @include adjust-font-size-to(24px);
  font-weight: 300;

  a, a:visited {
    color: $accent;
  }
}
h3, .gamma {
  @include adjust-font-size-to(21px);

  a, a:visited {
    color: $accent;
  }
}
h4, .delta {
  @include adjust-font-size-to(18px);
}
h5, .epsilon{
  @include adjust-font-size-to(16px);
  font-weight: 300;
}
h6, .zeta {
  @include adjust-font-size-to(16px);
}

/**
 * $PARAGRAPHS
 */
p,
%p {
  margin: 0;
  @include rhythm(0, 0, 0, 1);
  @include font-size(1.2em);
  letter-spacing: 0.5px;
}
p + img {
  float: left;
  margin-right: $horz-spacing-unit;
}

/**
 * $QUOTES
 */
blockquote {
  @extend %p;
  @include rhythm(0, 1, 1, 1);
  padding: 0 1.5em;

  @include rhythm-borders(1px);
  @include apply-side-rhythm-border(left, 10px);
  font-style: italic;
  color: $accent;

  p {
    margin: 0;
  }
}

q {
  font-style: italic;
}


/**
 *  ALIGNMENT
 */
.right {
  text-align: right;
}
.center {
  text-align: center;
}
