$garamond: 'Garamond', Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
$perpetua-titling: 'Perpetua Titling', Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
$gill: "Gill Sans", Calibri, sans-serif;
$rockwell: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;

$base-font-size: 16px;
$base-line-height: 24px;
