@import "compass/layout/sticky-footer";

$vert-spacing-unit: 20px;
$horz-spacing-unit: 1em;

//@include sticky-footer(30px, '#container', '#sticky-footer', '#footer');

div, article, section, p {
    //box-sizing: border-box;
}

// .container {
//     width: 100%;
//     max-width: 1152px;
//     margin: 0 auto !important;
//     padding: $vert-spacing-unit $horz-spacing-unit;
//     @include clearfix;
// }
